.side_container{
margin-top:0.1em;
margin-left: 1.5em;
text-align: center;
background-color: #14120C;
font-size: 13px;
}
.item{
	text-decoration: none;
	padding:.2em;
	margin-left: .4em;
	color:white;
}

a{
text-decoration: none;
color:#ecf0f1;	
}

a:hover{
	text-decoration: none;
	color: white;
}

.create_table_form{
	background-color:#373a3c;
	margin:.2em .2em .2em .2em;
	padding:1em;
	border-radius: .3em;
	color: rgba(255, 255, 255, 0.5);  
}
.table_view_container{
	margin:.2em;
	padding:.2em;
}
.table_item:{
	max-width: 5em;
}

.title{
	font-size: 15px;
	color:#34495e;
	font-style: bold;
	padding:.5em;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: #14120C;
  margin-left:2em;
  margin-top:.2em;
  height: 100%;
  padding: 1em;
}

.flex_item1{
  height: 15em;
  width: 25em;
  flex-grow: 1;
  background-color: #f1c40f;
  padding:10px;
  margin:1em;
}
.flex_item1:hover{
	box-shadow:0px 0px 7px 4px white;
	cursor:pointer;
}
.tableview{
	margin:0px;
	font-size: 10px;
	background-color: white;
}

.module_heading{
	color:#7f8c8d;
	background-color: #ecf0f1;
}
.count{
display: inline-block;
background-color: white;
border-radius: 7px;
color:red;
width:1em;
font-size: 14px;
}