.side_container{
margin-top:0.4em;
margin-left: 0.2em;
text-align: center;
background-color: #373a3c;
border-radius: .3em;
font-size: 13px;
}
.item{
	text-decoration: none;
	padding:.2em;
	margin-left: .4em;
	color:white;
}

a{
text-decoration: none;
color:#ecf0f1;	
}

a:hover{
	text-decoration: none;
	color: white;
}

.create_table_form{
	background-color:#373a3c;
	margin:.2em .2em .2em .2em;
	padding:1em;
	border-radius: .3em;
	color: rgba(255, 255, 255, 0.5);  
}
.table_view_container{
	margin:.2em;
	padding:.2em;
}
.table_item:{
	max-width: 5em;
}

.title{
	font-size: 15px;
	color:#34495e;
	font-style: bold;
	padding:.5em;
}
.card{
font-size: 9px;
overflow:scroll;

}
.card:hover{
	cursor: pointer;
}

.tableview{
	margin:0px;
	font-size: 13px;
}

.module_heading{
	border-radius:1em;
	color:#7f8c8d;
	background-color: #ecf0f1;
}
.count{
display: inline-block;
background-color: white;
border-radius: 7px;
color:red;
width:1em;
font-size: 14px;
}